SUPABASE_URL=https://antpxiajarlfyafzwyzn.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFudHB4aWFqYXJsZnlhZnp3eXpuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MTAzNTE1NywiZXhwIjoyMTA2NjExMTU3fQ.CVWNUHczmlm2tlklarTxS0XR0jsSn8jVaDS0RY8Qsl8
WORKER_MODE=web